body{
    background-image:url(../images/beer-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#divpic{height: 350px; width: 350px; text-align: center;}

.photoDesc{font-size: 1.5em;}

.wrapper{
    margin-top: 10%;
}

.wrapper h1{
    font-size: 52px;
    margin-bottom: 10px;
    text-align: center;
    color: aquamarine;
}

.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}

.team .team_member{
    margin: 5px;
    margin-bottom: 50px;
    width: 200px;
    color: aquamarine;
    padding: 20px;
    line-height: 20px;
}

.team .team_member h3{
    font-size: 23px;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    color: aquamarine;
    width: 100px;
    display: block;
    padding: 15px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
}

.navbar a:hover{
    background: rgb(0, 0, 0);
}

.jumbotron{
    background: rgba(0, 0, 0, 0);
    height: 90px;
    margin: 20px;
    border: 1px black;
}

.jumbotron h1{
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(45, 158, 120);
    font-weight: bold;
}

.introduction{
    background: rgba(0, 0, 0, 0.6);
}

.introduction h1{
    color: rgb(255, 255, 255);
}

.introduction p{
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.preprocessing {
    background: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.results{
    background: rgba(0, 0, 0, 0.6);
}

.results p{
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.results h1{
    color: rgb(255, 255, 255)
}

.results h3{
    color: rgb(255, 255, 255)
}

.results h4{
    color: rgb(255, 255, 255)
}

.conclusion{
    background: rgba(0, 0, 0, 0.6);
}

.conclusion h1{
    color: rgb(255, 255, 255);
}

.conclusion p{
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.team .team_member a{
    font-size: 20px;
    font-style: oblique;
    color: aquamarine;
}